.calc__content {
  background-color: #A8ABA0;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 540px;
  overflow: auto;
}

.calc__navlink {
  width: 100%;
  margin-bottom: 5px;

}

.calc__navlink a {
  color: #D9D9D9;
  cursor: pointer;
}

.calc__text {
  background-color: #D9D9D9;
  tab-size: 24px;
  border-radius: 27px;
  padding: 10px;
}

.calc__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.calc__row {
  display: flex;
  gap: 5px;
  width: 500px;
  align-items: center;
  justify-content: stretch;


}

.calc__label {
  width: 40%;
}

.calc__input {
  text-align: center;
  width: 80%;
  height: 30px;
}

.calc__button {
  background-color: #D9F7BC;
  border-radius: 27px;
  border: none;
  height: 50px;
  margin-top: 10px;
}

.calc__value {
  font-size: 30px;
  color: #D9F7BC;
  margin: 0 auto;
}