h1 {
  color: #685F5F;
  margin: 10px 0;
}


.auth__form {
  background-color: #A8AB9F;
  min-width: 485px;
  max-width: 500px;
  border-radius: 37px;
  width: 50%;
  padding: 20px;
  margin: 0 auto;
}

.content {
  background-color: #D9D9D9;
  margin: 0 auto;
  text-align: center;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.form__content {

  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;


}

.auth__row {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 10px;
  align-items: center;
  text-align: justify;
}

.auth__column {
  width: 50%;
}

.auth__button {
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 37px;
  border: none;

}

.auth__input {
  text-align: center;
}