* {
  box-sizing: border-box;
}

.content {
  display: flex;
  text-align: center;
  height: 100%;
}

.foodList_content{

}



.foodList {
  background: #A69494;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  padding-top: 30px;
  gap: 30px;
  overflow: auto;
  min-width: 550px;
}





.wrapper {
  border: 2px solid black;
  overflow:auto;

  height: 100%;
  
}

